.container {
    background-color: #161F2D;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftContent{
    width: 40%;
    height: 100%;
    background-image: url(../public/background_login_image.png);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigLogo {
    transform: scale(-1); 
}

.rightContent{
    background-color: #161F2D;;
    width: 60%;
    height: 100%;
}

.loginContainer {
    width: 50%;
    height: 100%;
    background-color: #161F2D;
    display: flex;
    flex-direction: column;
}
.LogoContainer {
    display: flex;
    height: 20%;
    justify-content: flex-start;
    margin-top: 30px;
    padding-left: 30px;
    position: relative;
}

.TitleContainer {
    color: aliceblue;
    min-height: 40%;
    margin-left: 30px;
    margin-top: 50px;
}

.btnContainer {
    margin-left: 30px;
    min-height: 40%;
}

.smallLogo {
    transform: scale(-1); 
    
}

.bigTitles {
    font-size: 80px;
}

.smallTitles {
    font-size: 40px;
}

.p {
    color: aliceblue;
    font-size: 20px;
}

.SignUpContainer{
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: rgb(71, 74, 77);
    color: rgb(60, 57, 57);
    border-radius: 10px;

}



